/* Para footer */

footer {
	position: absolute;
	width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer {
    display: block;
}

footer > :last-child {
    margin-bottom: 0;
    }

	footer.major {
		padding-top: 3em;
	}

#footer {
    background: #E8EEF4;
    color: #7c8081;
    padding: 5em 5em 10em 5em;
    text-align: center;
}

    #footer .icons a {
        outline:0px;
    }

	#footer .copyright {
        font-size: 0.8em;
		line-height: 1em;
	}

		#footer .copyright a {
			color: inherit;
		}

			#footer .copyright li {
				display: inline-block;
				margin-left: 1em;
				padding-left: 1em;
				border-left: dotted 1px;
			}

			    #footer .copyright li:first-child {
					margin: 0;
					padding: 0;
					border: 0;
				}

ul.icons {
    cursor: default;
}

    ul.icons li {
		display: inline-block;
		line-height: 1em;
		padding-left: 0.5em;
	}
    
        ul.icons li:first-child {
			padding-left: 0;
		}


/* Icon */

.icon {
    text-decoration: none;
	position: relative;
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon.circle {
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		border: 0;
		border-radius: 100%;
		display: inline-block;
		font-size: 1.50em;
		height: 2.25em;
		left: 0;
		line-height: 2.25em;
		text-align: center;
		text-decoration: none;
		top: 0;
	    width: 2.25em;
	}

		.icon.circle:hover {
			top: -0.2em;
		}

			.icon.circle.fa-twitter {
				background: #70aecd;
				color: #fff;
			}

				.icon.circle.fa-twitter:hover {
					background: #7fb7d2;
				}

			.icon.circle.fa-facebook {
				background: #7490c3;
				color: #fff;
			}

				.icon.circle.fa-facebook:hover {
					background: #829bc9;
				}

			.icon.circle.fa-google-plus {
				background: #db6b67;
				color: #fff;
			}

				.icon.circle.fa-google-plus:hover {
					background: #df7b77;
				}

			.icon.circle.fa-youtube {
				background: #ff4d4d;
				color: #fff;
			}

				.icon.circle.fa-youtube:hover {
					background: #ff6666;
				}

		.icon > .label {
			display: none;
		}

#footer {
    padding: 3em 1.5em;
}

#footer .copyright li {
    display: block;
    margin: 1em 0 0 0;
    padding: 0;
    border: 0;
}
